 #This will set the replicaset count 
replicaCount: 2
# This sets the container image 
image:
  repository: 464356371111.dkr.ecr.us-east-1.amazonaws.com/cluster
  pullPolicy: IfNotPresent
  tag: 9d8a6a6ff8ecd91b1d6fe4b2ac35c38dc60af9a7
  service:
    port: 5000

# This is for the secrets for pulling an image from a private repository 
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: 
  runAsNonRoot: true 
  runAsUser: 1001
  runAsGroup: 1000
  fsGroup: 1000

securityContext: 
   capabilities:
     drop: ["All"]
   readOnlyRootFilesystem: true
   runAsNonRoot: true
   runAsUser: 1000

# This is for setting up a service 
service: 
  type: ClusterIP
  port: 80

# This block is for setting up the ingress
ingress:
  enabled: true
  className: "nginx"
  annotations: 
    cert-manager.io/cluster-issuer: letencrypt
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-connection-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "20"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "20"
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    nginx.ingress.kubernetes.io/limit-connections: "5"
    nginx.ingress.kubernetes.io/limit-rps: "5"
    nginx.ingress.kubernetes.io/limit-burst-multiplier: "2"
  tls: 
    - hosts:
        - 44.198.242.21.nip.io
        - 3.214.63.35.nip.io
      secretName: webapp-tls 

  hosts:
    - host: 3.214.63.35.nip.io
      paths:
        - path: /
          pathType: Prefix
  host:
    - host: 44.198.242.21.nip.io
      paths:
        - path: /
          pathType: Prefix
   

resources: 
   limits:
     cpu: 300m
     memory: 256Mi
   requests:
     cpu: 150m
     memory: 128Mi
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 20
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 20
  periodSeconds: 10

serviceAccount: 
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::464356371111:role/eksctl

clusterissuer: 
  name: nginx

# This section is for setting up autoscaling if enabled = true
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

#down below i dont need this yet because im am runing a small cluster 
#but in production it is neccessary to add them to your pod so scheduling is predictable
nodeSelector: {}

tolerations: []

affinity: {}
